.signup-container {
    .user-logged-in {
        display: inline-flex;
        gap: 20px;

        .avatar {
            border-radius: 50%;
        }

        .user-info {
            display: grid;
            max-height: fit-content;
            gap: 0px;
            direction: ltr;

            p {
                margin: 0px
            }
        }
    }
}