.dialog-container {
    button {
        &.contained-button {
            background-color: #FBB713;
            color: #fff;
        }
        &.text-button {
            color: #FBB713;
        }
    }

    .title-tag {
        height: 30px;
        width: 100%;
        background-color: #FBB713;
        margin-top: 12px;
    }

    .dialog-title {
        display: grid;
        justify-content: center;
    }

    .dialog-content {
        padding-bottom: 0px;
    }

    .signup-container {
        display: grid;
        padding: 30px;
        gap: 20px;

        .left-wrapper, .right-wrapper {
            display: flex;
            gap: 15px;
        }
    }
}